body {
   background-color:yellowgreen;
}

#front {
   margin-top: 110px;
   text-align:center;
}

button {
   box-shadow: 9px 9px 4px black;
   margin: 17px;
   border: 4px solid black;
   border-radius: 10px;
   font-size: 45px;
   padding-top: 8px;
   padding-bottom: 8px;
}

#button-easy {
   padding-left: 39px;
   padding-right: 39px;
}

#button-medium {
   padding-left: 10px;
   padding-right: 10px;
}

#button-hard {
   padding-left: 39px;
   padding-right: 39px;
}

h1 {
   font-size: 85px;
}

button:hover {
   background-color:rgb(209, 209, 185);
}

h3 {
   opacity: 0.5;
}

.field {
   height: 700px;
   width: 700px;
   margin-left: 300px;
   margin-top: 60px;
   background-color:white;
   display: flex;
   flex-wrap: wrap;

}

.part {
   height: calc(100%/3 - 2px);
   width: calc(100%/3 - 2px);
   border: 1px solid black;
}

.cell {
   height: calc(100%/3 - 4px);
   width: calc(100%/3 - 6px);
   text-align: center;
   font-size: 55px;
   border: 1px solid black;
}

.cell-hover {
   background-color:powderblue ;
}

.cell-focus {
   background-color: brown;
}

.cell-helper {
   background-color:hotpink;
}