body {
   background-color:yellowgreen;
}

#program {
   display: flex;
   flex-wrap: wrap;
}

.buttons {
   margin: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   flex-wrap: wrap;
   height: 120px;
   width: 120px;

}

button {
   box-shadow: 9px 9px 4px black;
   border: 4px solid black;
   border-radius: 10px;
   font-size: 50px;
   padding-top: 8px;
   padding-bottom: 8px;
}

.button-easy {
   margin-left: 50%;
   margin-top: 30px;
   margin-bottom: -35px;
   margin-right: 45px;
   padding-left: 50px;
   padding-right: 50px;
}

.button-medium {
   margin-left: 50%;
   margin-top: 70px;
   margin-bottom: -35px;
   margin-right: 45px;
   padding-left: 17px;
   padding-right: 17px;
}

.button-hard {
   margin-left: 50%;
   margin-top: 70px;
   margin-bottom: -35px;
   margin-right: 45px;
   padding-left: 51px;
   padding-right: 51px;
}

h1 {
   font-size: 50px;
   text-align:center;

}

button:hover {
   background-color:rgb(209, 209, 185);
}

h3 {
   opacity: 0.5;
}

.field {
   height: 700px;
   width: 700px;
   margin-left: 20%;
   margin-top: 35px;
   background-color:white;
   display: flex;
   flex-wrap: wrap;

}

.part {
   height: calc(100%/3 - 2px);
   width: calc(100%/3 - 2px);
   border: 1px solid black;
}

.cell {
   height: calc(100%/3 - 4px);
   width: calc(100%/3 - 6px);
   text-align: center;
   font-size: 55px;
   border: 1px solid black;
}

.cell-hover {
   background-color:powderblue ;
}

.cell-focus {
   background-color: brown;
}

.cell-helper {
   background-color:hotpink;
}