body {
   background-color:yellowgreen;
}

#front {
   margin-top: 110px;
   text-align:center;
}

button {
   box-shadow: 9px 9px 4px black;
   margin: 17px;
   border: 4px solid black;
   border-radius: 10px;
   font-size: 45px;
   padding-top: 8px;
   padding-bottom: 8px;
}

#button-easy {
   padding-left: 39px;
   padding-right: 39px;
}

#button-medium {
   padding-left: 10px;
   padding-right: 10px;
}

#button-hard {
   padding-left: 39px;
   padding-right: 39px;
}

h1 {
   font-size: 85px;
}

button:hover {
   background-color:rgb(209, 209, 185);
}

h3 {
   opacity: 0.5;
}
